@media screen and (max-width: 600px) {
    #main {
        place-items: center;
        /* border: 2px solid red; */
        width: 100vw;
        overflow: hidden;
    }
    #mainChild {
        /* border: 2px solid black; */
        max-height: 100vh !important;
        overflow: scroll !important;
        width: 80% !important;
        margin: 0 auto !important;
        /* margin-top: -15rem !important; */
        font-size: 0.9rem !important;
    }
}